html {
    background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 300px;
  height: 400px;

  background-color:#3F3F3F;
  color: white;
}

.btn-pink,
.btn-pink.focus,
.btn-pink:focus {
    background-color: #ff627B;
    border-style: none;
    color: white;
}

.btn-pink:hover,
.btn-pink.active,
.btn-pink:active,
.btn-pink.active.focus,
.btn-pink.active:focus,
.btn-pink.active:hover,
.btn-pink:active.focus,
.btn-pink:active:focus,
.btn-pink:active:hover,
.btn-pink:not(:disabled):not(.disabled).active {
    background-color: #ff627B !important;
}

.pink {
    color: #ff627B;
}
